core/src/wsdl/dispatcherApplication.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vas.nuevatel.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://vas.nuevatel.com/" name="VASWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://vas.nuevatel.com/" schemaLocation="http://10.40.20.201:8217/dispatcherApplication?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="start">
<part name="parameters" element="tns:start"></part>
</message>
<message name="startResponse">
<part name="parameters" element="tns:startResponse"></part>
</message>
<message name="stop">
<part name="parameters" element="tns:stop"></part>
</message>
<message name="stopResponse">
<part name="parameters" element="tns:stopResponse"></part>
</message>
<message name="execute">
<part name="parameters" element="tns:execute"></part>
</message>
<message name="executeResponse">
<part name="parameters" element="tns:executeResponse"></part>
</message>
<message name="notifyStartup">
<part name="parameters" element="tns:notifyStartup"></part>
</message>
<message name="notifyStartupResponse">
<part name="parameters" element="tns:notifyStartupResponse"></part>
</message>
<message name="notifyShutdown">
<part name="parameters" element="tns:notifyShutdown"></part>
</message>
<message name="notifyShutdownResponse">
<part name="parameters" element="tns:notifyShutdownResponse"></part>
</message>
<message name="loadCache">
<part name="parameters" element="tns:loadCache"></part>
</message>
<message name="loadCacheResponse">
<part name="parameters" element="tns:loadCacheResponse"></part>
</message>
<message name="getWSAddress">
<part name="parameters" element="tns:getWSAddress"></part>
</message>
<message name="getWSAddressResponse">
<part name="parameters" element="tns:getWSAddressResponse"></part>
</message>
<message name="getVASComponentState">
<part name="parameters" element="tns:getVASComponentState"></part>
</message>
<message name="getVASComponentStateResponse">
<part name="parameters" element="tns:getVASComponentStateResponse"></part>
</message>
<message name="getVASComponentStateList">
<part name="parameters" element="tns:getVASComponentStateList"></part>
</message>
<message name="getVASComponentStateListResponse">
<part name="parameters" element="tns:getVASComponentStateListResponse"></part>
</message>
<portType name="VASWS">
<operation name="start">
<input wsam:Action="http://vas.nuevatel.com/VASWS/startRequest" message="tns:start"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/startResponse" message="tns:startResponse"></output>
</operation>
<operation name="stop">
<input wsam:Action="http://vas.nuevatel.com/VASWS/stopRequest" message="tns:stop"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/stopResponse" message="tns:stopResponse"></output>
</operation>
<operation name="execute">
<input wsam:Action="http://vas.nuevatel.com/VASWS/executeRequest" message="tns:execute"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/executeResponse" message="tns:executeResponse"></output>
</operation>
<operation name="notifyStartup">
<input wsam:Action="http://vas.nuevatel.com/VASWS/notifyStartupRequest" message="tns:notifyStartup"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/notifyStartupResponse" message="tns:notifyStartupResponse"></output>
</operation>
<operation name="notifyShutdown">
<input wsam:Action="http://vas.nuevatel.com/VASWS/notifyShutdownRequest" message="tns:notifyShutdown"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/notifyShutdownResponse" message="tns:notifyShutdownResponse"></output>
</operation>
<operation name="loadCache">
<input wsam:Action="http://vas.nuevatel.com/VASWS/loadCacheRequest" message="tns:loadCache"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/loadCacheResponse" message="tns:loadCacheResponse"></output>
</operation>
<operation name="getWSAddress">
<input wsam:Action="http://vas.nuevatel.com/VASWS/getWSAddressRequest" message="tns:getWSAddress"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/getWSAddressResponse" message="tns:getWSAddressResponse"></output>
</operation>
<operation name="getVASComponentState">
<input wsam:Action="http://vas.nuevatel.com/VASWS/getVASComponentStateRequest" message="tns:getVASComponentState"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/getVASComponentStateResponse" message="tns:getVASComponentStateResponse"></output>
</operation>
<operation name="getVASComponentStateList">
<input wsam:Action="http://vas.nuevatel.com/VASWS/getVASComponentStateListRequest" message="tns:getVASComponentStateList"></input>
<output wsam:Action="http://vas.nuevatel.com/VASWS/getVASComponentStateListResponse" message="tns:getVASComponentStateListResponse"></output>
</operation>
</portType>
<binding name="VASWSPortBinding" type="tns:VASWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="start">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="execute">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="notifyStartup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="notifyShutdown">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="loadCache">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getWSAddress">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVASComponentState">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getVASComponentStateList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="VASWSService">
<port name="VASWSPort" binding="tns:VASWSPortBinding">
<soap:address location="http://10.40.20.201:8217/dispatcherApplication"></soap:address>
</port>
</service>
</definitions>