core/src/main/resources/mailMiddleware.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vas.nuevatel.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://vas.nuevatel.com/" name="MailWSService">
    <wsp:Policy wsu:Id="MailWSPortBinding_MTOM_Policy">
        <ns1:OptimizedMimeSerialization
                xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                wsp:Optional="true"></ns1:OptimizedMimeSerialization>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://vas.nuevatel.com/" schemaLocation="mailMiddleware.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="sendMail">
        <part name="parameters" element="tns:sendMail"></part>
    </message>
    <message name="sendMailResponse">
        <part name="parameters" element="tns:sendMailResponse"></part>
    </message>
    <message name="sendMailWithoutExtraFiles">
        <part name="parameters" element="tns:sendMailWithoutExtraFiles"></part>
    </message>
    <message name="sendMailWithoutExtraFilesResponse">
        <part name="parameters" element="tns:sendMailWithoutExtraFilesResponse"></part>
    </message>
    <message name="execute">
        <part name="parameters" element="tns:execute"></part>
    </message>
    <message name="executeResponse">
        <part name="parameters" element="tns:executeResponse"></part>
    </message>
    <message name="getVASComponentState">
        <part name="parameters" element="tns:getVASComponentState"></part>
    </message>
    <message name="getVASComponentStateResponse">
        <part name="parameters" element="tns:getVASComponentStateResponse"></part>
    </message>
    <message name="getVASComponentStateList">
        <part name="parameters" element="tns:getVASComponentStateList"></part>
    </message>
    <message name="getVASComponentStateListResponse">
        <part name="parameters" element="tns:getVASComponentStateListResponse"></part>
    </message>
    <message name="loadCache">
        <part name="parameters" element="tns:loadCache"></part>
    </message>
    <message name="loadCacheResponse">
        <part name="parameters" element="tns:loadCacheResponse"></part>
    </message>
    <message name="notifyShutdown">
        <part name="parameters" element="tns:notifyShutdown"></part>
    </message>
    <message name="notifyShutdownResponse">
        <part name="parameters" element="tns:notifyShutdownResponse"></part>
    </message>
    <message name="notifyStartup">
        <part name="parameters" element="tns:notifyStartup"></part>
    </message>
    <message name="notifyStartupResponse">
        <part name="parameters" element="tns:notifyStartupResponse"></part>
    </message>
    <message name="getWSAddress">
        <part name="parameters" element="tns:getWSAddress"></part>
    </message>
    <message name="getWSAddressResponse">
        <part name="parameters" element="tns:getWSAddressResponse"></part>
    </message>
    <message name="start">
        <part name="parameters" element="tns:start"></part>
    </message>
    <message name="startResponse">
        <part name="parameters" element="tns:startResponse"></part>
    </message>
    <message name="stop">
        <part name="parameters" element="tns:stop"></part>
    </message>
    <message name="stopResponse">
        <part name="parameters" element="tns:stopResponse"></part>
    </message>
    <portType name="MailWS">
        <operation name="sendMail">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/sendMailRequest" message="tns:sendMail"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/sendMailResponse"
                    message="tns:sendMailResponse"></output>
        </operation>
        <operation name="sendMailWithoutExtraFiles">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/sendMailWithoutExtraFilesRequest"
                   message="tns:sendMailWithoutExtraFiles"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/sendMailWithoutExtraFilesResponse"
                    message="tns:sendMailWithoutExtraFilesResponse"></output>
        </operation>
        <operation name="execute">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/executeRequest" message="tns:execute"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/executeResponse" message="tns:executeResponse"></output>
        </operation>
        <operation name="getVASComponentState">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/getVASComponentStateRequest"
                   message="tns:getVASComponentState"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/getVASComponentStateResponse"
                    message="tns:getVASComponentStateResponse"></output>
        </operation>
        <operation name="getVASComponentStateList">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/getVASComponentStateListRequest"
                   message="tns:getVASComponentStateList"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/getVASComponentStateListResponse"
                    message="tns:getVASComponentStateListResponse"></output>
        </operation>
        <operation name="loadCache">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/loadCacheRequest" message="tns:loadCache"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/loadCacheResponse"
                    message="tns:loadCacheResponse"></output>
        </operation>
        <operation name="notifyShutdown">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/notifyShutdownRequest"
                   message="tns:notifyShutdown"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/notifyShutdownResponse"
                    message="tns:notifyShutdownResponse"></output>
        </operation>
        <operation name="notifyStartup">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/notifyStartupRequest"
                   message="tns:notifyStartup"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/notifyStartupResponse"
                    message="tns:notifyStartupResponse"></output>
        </operation>
        <operation name="getWSAddress">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/getWSAddressRequest" message="tns:getWSAddress"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/getWSAddressResponse"
                    message="tns:getWSAddressResponse"></output>
        </operation>
        <operation name="start">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/startRequest" message="tns:start"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/startResponse" message="tns:startResponse"></output>
        </operation>
        <operation name="stop">
            <input wsam:Action="http://vas.nuevatel.com/MailWS/stopRequest" message="tns:stop"></input>
            <output wsam:Action="http://vas.nuevatel.com/MailWS/stopResponse" message="tns:stopResponse"></output>
        </operation>
    </portType>
    <binding name="MailWSPortBinding" type="tns:MailWS">
        <wsp:PolicyReference URI="#MailWSPortBinding_MTOM_Policy"></wsp:PolicyReference>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="sendMail">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="sendMailWithoutExtraFiles">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="execute">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getVASComponentState">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getVASComponentStateList">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="loadCache">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="notifyShutdown">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="notifyStartup">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getWSAddress">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="start">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="stop">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="MailWSService">
        <port name="MailWSPort" binding="tns:MailWSPortBinding">
            <soap:address location="http://10.40.20.201:8190/mailMiddleware"></soap:address>
        </port>
    </service>
</definitions>